<section class="mb-12">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold text-gray-800">Mis Inversiones</h2>
    <button
      id="add-investment-btn"
      (click)="onAddInvestment()"
      class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md flex items-center">
      <fa-icon [icon]="['fas', 'plus-circle']" class="mr-2"></fa-icon> Agregar Inversión
    </button>
  </div>

  <!-- Filter Dropdown -->
  <div class="mb-4">
    <label for="investment-type-filter" class="block text-sm font-medium text-gray-700">Filtrar por tipo:</label>
    <select
      id="investment-type-filter"
      name="investment-type-filter"
      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
      [ngModel]="selectedType"
      (change)="onTypeChange($event)">
      <option value="all">Todas</option>
      <option *ngFor="let type of investmentTypes" [value]="type">
        {{ type.charAt(0).toUpperCase() + type.slice(1).replace('-', ' ') }}
      </option>
    </select>
  </div>
  <!-- End Filter Dropdown -->

  <div id="investments-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <ng-container *ngIf="investments.length > 0; else noInvestments">
      <app-investment-card
        *ngFor="let investment of investments"
        [investment]="investment"
        (editEarnings)="handleEditEarningsRequest($event)"
        (removeInvestment)="handleRemoveInvestmentRequest($event)">
      </app-investment-card>
    </ng-container>
    <ng-template #noInvestments>
      <div class="bg-gray-100 p-6 rounded-lg text-center md:col-span-2 lg:col-span-3">
        <i class="fas fa-coins text-4xl text-gray-400 mb-4"></i>
        <p class="text-gray-600">No hay inversiones registradas</p>
      </div>
    </ng-template>
  </div>
</section>
